<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="">

<title>Page Name | Project Name</title>


<link rel="stylesheet" href="assets/stylesheets/main.css">

<script src="https://kit.fontawesome.com/b06605e970.js"></script>
</head>
<body>

    <div id="container">
        <div class="row">
            <div class="col-1 col">
                <nav id="main-nav">
                    <ul>
                        <li>
                        <li class="active">
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="active-user">
                        <a href="#">
                            <img src="assets/images/user_1.png" class="w-100" alt="image">
                        </a>
                    </div>
                </nav>

            </div>
            <div class="col-2 col">
                <div class="conversations">
                    <header class="conv-header">
                        <div class="row align-items-center justify-content-between">
                            <div class="col">
                                <div class="row align-items-center">
                                    <div class="sub-col-2 sub-col">
                                        <h3>Conversations</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <i class="fas fa-redo"></i>
                                </a>
                            </div>
                        </div>
                    </header>

                    <div class="conv-list">
                        <ul>
                            <li class="active">
                                <div class="row justify-content-between">
                                    <div class="username">
                                        <div class="row align-items-center">
                                            <div class="checkbox">
                                                <input type="checkbox">
                                            </div>
                                            <div class="name">
                                                <p>Prateek</p>
                                                <span>Messages</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="msg">
                                    <h5>Hello there</h5>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-3 col">
                <div class="chat-section">
                    <header class="chat-header">
                        <h3>Prateek</h3>
                    </header>

                    <main class="chat">
                        <ul>
                            <li class="clear message cli-msg text-left">
                                <div class="msg-wrapper">
                                    <div class="row align-items-center">
                                        <div class="dp">
                                            <img class="w-100" src="assets/images/user_1.png" alt="dp">
                                        </div>
                                        <div class="msg-text">
                                            <p>Hey how are you?</p>
                                            <span>Mar 05, 2:22 AM</span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="clear message reply-msg text-right">
                                <div class="msg-wrapper">
                                    <div class="row align-items-center">
                                        <div class="msg-text">
                                            <p>I am Fine</p>
                                            <span>Mar 05, 2:22 AM</span>
                                        </div>
                                        <div class="dp">
                                            <img class="w-100" src="assets/images/user_1.png" alt="dp">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </main>

                    <div class="send-msg">
                        <form action="#">
                            <input type="text" placeholder="Message">
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-4 col">
                <div class="user">
                    <div class="dp">
                        <img class="w-100" src="assets/images/user_1.png" alt="dp">
                    </div>
                    <h4>Prateek Raj </h4>
                    <div class="action">
                        <div class="row justify-content-center">
                        </div>
                    </div>
                </div>

                <div class="user-details">
                    <div class="wrapper">
                        <h5>Customer details</h5>
                    <ul>
                        <li>
                            <div class="row justify-content-between">
                                <div class="attr">
                                    <span>Email</span>
                                </div>
                                <div class="val">
                                    <span>prateek28@gmail.com</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row justify-content-between">
                                <div class="attr">
                                    <span>First Name</span>
                                </div>
                                <div class="val">
                                    <span>Prateek</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row justify-content-between">
                                <div class="attr">
                                    <span>Last Name</span>
                                </div>
                                <div class="val">
                                    <span>saroj</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>